<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.ia369.speechemotion" >
    <!-- File storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Audio recording -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.microphone" android:required="false"/>
</manifest>
